/* 
body {
    font-family: Arial, sans-serif;
    margin: 5% 35%;
    padding: 0;
}
 */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Toggle Button */

/* Toggle container */
.toggle-switch {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* Labels */
.toggle-label-left,
.toggle-label-right {
  margin: 0 10px;
  white-space: nowrap;
}

/* Toggle slider */
.toggle-switch input {
  display: none;
}

.toggle-switch .slider {
  position: relative;
  width: 60px; 
  height: 30px; 
  background-color: #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Circle inside the slider */
.toggle-switch .slider:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

/* Green color when validated (ON) */
.toggle-switch input:checked + .slider {
  background-color: #17DB94; /* Green color */
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(30px); /* Move circle to the right */
}

/* Orange color when canceled (OFF) */
.toggle-switch .slider.orange {
  background-color: #4B4B4B; /* Orange color */
}

.toggle-switch .slider.orange:before {
  transform: translateX(0); /* Move circle to the left */
}

/* Disabled state */
.toggle-switch input:disabled + .slider {
  background-color: #e0e0e0; /* Light gray for disabled state */
}

/* Spinner */
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #424344;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}